section{
  text-align: center;
}
div{
  text-align: center;
}
.one{
  background: #dddddd;
}
.two{
  background: #d3e0ea;
}
.three{
  background: #dddddd;
}
form{
  display: inline-block;
  width: 50%;
}
.four{
  background: #d3e0ea;
}
.five{
  background: #dddddd;
}
.six{
  background: #d3e0ea;
}
.seven{
  background: #dddddd;
}
.eight{
  background: #d3e0ea;
}
.nine{
  background: #dddddd;
}
.ten{
  background: #d3e0ea;
}
.eleven{
  background: #dddddd;
}
